@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        background-image: linear-gradient(to top, var(--lilas), var(--verde));
    }

    #login {
        width: 80vw;
        height: 280px;
    }

    #image {
        float: left;
        width: 30%;
        height: 100%;
    }

    #form {
        float: right;
        width: 70%;
    }

    #form > h1 {
        font-size: 1.7em;
    }

    #form > p {
        font-size: 1em;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, var(--lilas), var(--verde));
    }
    
    #login {
        width: 800px;
        height: 300px;
    }

    #image {
        float: right;
        width: 50%;
        height: 100%;
    }

    #form {
        float: left;
        width: 50%;
    }

    #form > h1 {
        font-size: 2em;
    }

    #form > p {
        font-size: 1em;
        padding: 10px 0px;
    }
}