@charset "UTF-8";

:root {
    --verde: #48a09d;
    --lilas: #5F2C82;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 0px;
    margin: 0px;

    box-sizing: border-box;
}

body, html {
    background-color: var(--lilas);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.39);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

#image {
    display: block;
    background: var(--lilas) url(../images/predio.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
}

#form {
    display: block;
    padding: 10px;
}